//color
$main = #3498db
$success = #67c23a
$info = #909399
$mainText = #303133
$plainText = #606266
$footBorder = #ebeef5
$scrollBar = #c2c2c2
$cardPined = #2ecc71
$cardCoverBg = #bdc3c7
$cardDescBg = rgba(0, 0, 0, .5)
$codeBlockBg = #f7f7f7
$blockquoteBorder = #dddddd
// box-shadow
$minBoxShadow = 0 1px 1px rgba(0, 0, 0, .1)
$midBoxShadow = 0 1px 5px rgba(0, 0, 0, 0.1)
$maxBoxShadow = 0 2px 12px rgba(0, 0, 0, .1)

